body{
    background-image: linear-gradient(rgb(40, 177, 113),rgb(58, 89, 146));
margin: 10% 10% 10% 10%;
    
}
.fixed-div{
    border-radius: 7em;
    border-style: solid 1px;
    width: 87%;
    height: auto;
    background-color: aquamarine;
   
}
li {
    display: inline-block;
    block-size: auto;
    border-right:1px solid #bbb;
    width: 23%;
}
li:last-child {
    border-right: none;
}
p{
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: rgba(182, 93, 93, 0.082);
    margin-left: 0%;
    margin-right: 2%;
    width: 100%
    
}
li a {
    display: block;
    text-align: center;
    
    height: auto;
    text-decoration: none;
    background-color: #4CAF50;
 
}
li:last-child {
    border-right: none;
}
li a:hover:not(.active) {
    background-color: rgba(22, 211, 164, 0.603);
}
.active {
    background-color: #4CAF50;
}

p,h1,h3{
    color: rgba(245, 247, 249, 0.797);
    text-shadow: 7px 7px 5px rgb(157, 44, 45) rgb(224, 244, 204);
    font-family: Garamond, serif;
}

.fe-divs{
    width: fit-content;
    height:auto;
    background-color: rgba(133, 130, 130, 0);    
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.be-divs{
    width: 20%;
    height:auto;
    background-color: rgba(37, 107, 104, 0.667);
    border: solid rgb(157, 44, 45);
    border-radius: 50%;
    margin: 1em 1em 1em 1em;
    padding-left: 1em;
    padding-right: 1em;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}


.heading{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
}
.myFace{
    border-radius: 150px 150px 150px 150px;
    border: 1px solid rgb(81, 131, 138);
    /* border: darkred; */
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    
}
hr{
    color: rgba(83, 33, 150, 0.473);
}

.fe-projs{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: auto;
}
.mini-head{
    text-align: center;
}

.fe-divs:hover{
    
    cursor: pointer;
    border-radius: 87px 87px 87px 87px;
  
}

.fe-imgs{
    width: 200px;
    height: 180px;
    border-radius: 87px 87px 87px 87px;
    
}